.main{
    display: flex;
    background: var(--main-color);
    align-items: center;
    justify-content: space-around;
}
/* .gauge{
    width: ;
} */

.home {
  height: 100dvh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.heading {
  font-size: 4rem;
  color: var(--color);
}

.weight {
  font-size: 2rem;
}

.htgap {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: space-evenly;
}

.wtgap {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.wtgap input::placeholder {
  color: var(--third-color);
  font-size: 1.5rem;
}

.htgap input::placeholder {
  color: var(--third-color);
  font-size: 1.5rem;
}

.height {
  font-size: 2rem;
}

.htgap .height {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  width: 610px;
  height: 50px;
  color: black;
  font-size: 2.5rem;
}

.wtgap .weight {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.calculate {
  width: 15rem;
  height: 3rem;
  color: var(--color);
  font-size: 30px;
  margin-right: 1rem;
  background: var(--third-color);
  border: 4px solid var(--fourth-color);
}

.clear {
  width: 15rem;
  height: 3rem;
  color: var(--main-color);
  font-size: 30px;
  background: var(--third-color);
  border: 4px solid var(--fourth-color);
}

.btn-grp {
  display: flex;
  flex-direction: row;
  gap: 25px;
}


